.ufo-head{
    height: 69px;
    padding: 18px 470px 18px 18px;
	border-left: 6px solid #009688;
	background: #f2f2f2;
}
.ufo-head input{
	width: 212px;
	height: 45px;
	outline: 0;
	border: 2px solid #E6E6E6;
	border-radius: 6px;
	padding-left:10px;
}
.ufo-head a{
	margin-left: 4px;
	padding: 13px 21px 13px 21px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	border-radius: 4px;
}
.ufo-head a:nth-of-type(1){
	background: #199f93;

}
.ufo-head a:nth-of-type(2){
	background: #33a7fe;
}
.ufo-head a:nth-of-type(3){
	background: #fe6737;
}

.uifotab{
	/*border: 1px solid #e2e2e2;*/
	width: 100%;
    margin: 10px 0;
    text-align: center;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: normal;
    color: #000;
     border-top: 1px solid #e2e2e2;
}
.uifotab thead{
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-bottom: 1px solid #e2e2e2;
    border-left:1px solid #e2e2e2 ;
    background: #f2f2f2;
}
.uifotab tbody{
	 border-left:1px solid #e2e2e2 ;
}
.uifotab thead th{
	 border-right: 1px solid #e2e2e2;
}
.uifotab tbody tr{
	border-bottom: 1px solid #e2e2e2;
}
.uifotab tbody td{
	 border-right: 1px solid #e2e2e2;
}
.checkall{
	display: block;
	width: 21px;
	height:21px;
	background: url(../img/checkone.png) no-repeat center;
}
/*有背景颜色的cheackspan*/
.checktow{
  display: block;
  width: 21px;
  height:21px;
	background: url(../img/checktwo.png) no-repeat center;
}
.uifotab thead th:nth-of-type(1){
	padding: 12px 19px;
	width: 9px;
	cursor: pointer;
}
.uifotab tbody tr td:nth-of-type(1){
	padding: 12px 19px;
	width: 9px;
	cursor: pointer;
}
.uifotab tbody tr:hover{
	background: #f8f8f8;
	transition: all .3s;
    -webkit-transition: all .3s;
}
.uifotab tbody tr td:nth-of-type(8){
	padding: 12px 19px;
	width: 9px;
	cursor: pointer;
}
